properties
updateList
updateDoNotCopyOverList
FitNesse/*
PageFooter/*
PageHeader/*
RecentChanges/*
TemplateLibrary/*
GradleClasspath/*
files/testResults/*
files/testProgress/*
.svn
.DS_Store
desktop.ini
*.zip
